<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:include="fragments/header :: head (title='Agenda')">

</head>
<body bgcolor="#f7f7f7">

	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<h2 align="center">Listado de personas</h2>
				<br>
				<div class="tercero3">
					<div class="row">
						<form th:action="@{/agregarcontacto}">
							<table class="table col col-lg-12">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Apellidos</th>
										<th scope="col">Departamento</th>
										<th scope="col">Categoria</th>
										<th scope="col">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="persona : ${userList}">

										<td><input style="border: 0;" type="text"
											th:name="${persona.nombre}" th:value="${persona.nombre}">
										</td>
										<td th:text="${persona.apellido1 + ' ' + persona.apellido2}"></td>
										<td th:each="depar : ${departamentos}" th:object="${depar}"
											th:if="${depar.iddepartamento} == *{persona.empleados.iddepartamento}"
											th:text="${depar.nombre}"></td>

										<td th:each="cate : ${userCat}" th:object="${cate}"
											th:if="${cate.idcategorias} == *{persona.empleados.idcategoria}"
											th:text="${cate.nombre}">
										<td><a
											th:href="@{deletePersonas(idpersonas=${persona.idpersonas})}">Borrar</a>
											<a
											th:href="@{deletePersonas(idpersonas=${persona.idpersonas})}">modifcar</a>
											<button type="submit" class="btn btn-primary">Agregar</button>
										</td>

									</tr>

								</tbody>
							</table>
						</form>
						<div class="col col-lg-12 text-center">
							<button type="button" data-toggle="modal"
								data-target="#exampleModal" class="btn btn-primary">Agregar</button>
							<button id="boton3" class="btn btn-primary">Ocultar/Mostrar</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="card-body">
				<h2 align="center">Listado de personas</h2>
				<br>
				<div class="tercero3">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-xs-4 col-sm-2">
										<h5>Nombre</h5>
									</div>
									<div class="col-xs-4 col-sm-2">Apellido</div>
									<div class="col-xs-4 col-sm-2">Departamento</div>
									<div class="col-xs-4 col-sm-2">DNI</div>
									<div class="col-xs-4 col-sm-2">categoria</div>
									<div class="col-xs-4 col-sm-2">Acciones</div>

								</div>
							</div>
							<div class="col-sm-12">
								<div class="row" th:each="pergaia : ${userList}">

									<form class="col-sm-12" th:action="@{/modificarEmpleado}" th:object="${pergaia}"  method="post">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-xs-4 col-sm-2">
													<input type="text" th:name="nomb" th:value="*{nombre}" 
														class="form-control" placeholder="Nombre">
														<input type="hidden"  th:value="*{idpersonas}"  th:name="id" />
												</div>
												<div class="col-xs-4 col-sm-2">
													<input type="text" th:name="ap1" th:value="*{apellido1}" 
														class="form-control" placeholder="Nombre">
												</div>
												<div class="col-xs-4 col-sm-2">
													<input type="text"th:name="ap2" th:value="*{apellido2}" 
														class="form-control" placeholder="Nombre">
												</div>
												<div class="col-xs-4 col-sm-2">DNI</div>
												<div class="col-xs-4 col-sm-2">categoria</div>
												<div class="col-xs-4 col-sm-2">
													<button type="submit" class="btn btn-primary">Modifcar</button>
												</div>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="exampleModalLabel">Nuevo empleado</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/agregarcontacto}" th:object="${person}"
						method="post">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="inputEmail4">Nombre</label> <input type="text"
									th:field="*{nombre}" class="form-control" placeholder="Nombre">
							</div>

						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputPassword4"> Apellido</label> <input type="text"
									th:field="*{apellido1}" class="form-control"
									placeholder="Apellidos">
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Segundo apellido</label> <input
									type="text" th:field="*{apellido2}" class="form-control"
									placeholder="Apellidos">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="inputPassword4"> DNI</label> <input type="text"
									th:field="*{dni}" class="form-control" placeholder="Apellidos">
							</div>

							<div class="form-group col-md-4">
								<label for="inputState">Departamentos</label> <select
									id="inputState" name="departaname" class="form-control">
									<option th:each="depar : ${departamentos}"
										th:value="${depar.iddepartamento}" th:text="${depar.nombre}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="inputState">Categorias</label> <select
									id="inputState" name="categoriasname" class="form-control">
									<option th:each="cate : ${categorias}"
										th:value="${cate.idcategorias}" th:text="${cate.nombre}"></option>
								</select>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">Sign in</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div>
		<h2 align="center">
			Listado de categorias
			<button id="boton" class="btn btn-primary">Ocultar/Mostrar</button>
		</h2>
	</div>
	<br>
	<div class="tercero">
		<div class="container" style="border: 1px solid #cecece;">
			<div class="row">
				<table class="table col col-lg-12">
					<thead>
						<tr>

							<th scope="col">Nombre</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria : ${userCat}">
							<td th:text="${categoria.nombre}"></td>
							<td th:text="${categoria.descripcion}"></td>
							<td><a
								th:href="@{delete(idcategorias=${categoria.idcategorias})}">Borrar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="container">
					<form th:action="@{/agregarCategorias}" th:object="${categorias}"
						method="post">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="">Crear Categoria</span>
							</div>
							<input type="text" class="form-control" placeholder="Nombre"
								th:field="*{nombre}"> <input type="text"
								class="form-control" placeholder="Descripcion"
								th:field="*{descripcion}">
							<button type="submit" class="btn btn-primary">Crear</button>

						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

	<br>
	<h2 align="center">
		Listado de departamentos
		<button id="boton2" class="btn btn-primary">Ocultar/Mostrar</button>
	</h2>
	<br>
	<div class="tercero2">
		<div class="container" style="border: 1px solid #cecece;">
			<div class="row">
				<table class="table col col-lg-12">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="departamentos : ${departamentos}">
							<td th:text="${departamentos.nombre}"></td>
							<td><a
								th:href="@{deleteDepartamentos(iddepartamento=${departamentos.iddepartamento})}">Borrar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="container">
				<form th:action="@{/agregarDepartamentos}" th:object="${depart}"
					method="post">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="">Crear Departamento</span>
						</div>
						<input type="text" class="form-control" placeholder="Nombre"
							th:field="*{nombre}">
						<button type="submit" class="btn btn-primary">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>