<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>LISTADO DE USUARIOS</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"
	href="../../css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/materialize.min.css}" href="../../materialize.min.css" />

</head>
<body>

	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="sass.html">Sass</a></li>
					<li><a href="badges.html">Components</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<ul class="collection">
			<li class="collection-item avatar" th:each="persona : ${userList}">
				<i class="material-icons circle green"></i> 
				<span class="title"	th:text="${persona.nombre  + ' ' + persona.apellido1 + ' ' + persona.apellido2}">Title</span>
				<p>
					First Line <br> Second Line
				</p> <a href="#!" class="secondary-content"> </a>
			</li>
		</ul>
	</div>		
	<a href="newCategoria">Categoria</a>
	<div class="container">
		<ul class="collection">
			<li class="collection-item avatar" th:each="categoria : ${categorias}">
				<i class="material-icons circle green"></i> 
				<span class="title"	th:text="${categoria.nombre + ' ' + categoria.descripcion}">Title</span>
				<p>
					First Line <br> Second Line
				</p> <a href="#!" class="secondary-content"> </a>
			</li>
		</ul>
	</div>
	</div>

	<script type="text/javascript" src="../../js/jquery.min.js"
		th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../js/bootstrap.js"
		th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" src="../../js/materialize.js"
		th:src="@{/js/materialize.js}"></script>


</body>
</html>